<section class="mt-3">
    <div class="row">
        <figure class="col-12 col-md-3">
            <img class="img-fluid" [src]="post?.image" alt="">
        </figure>
        <div class="content col-12 col-md-9">
            <h1>{{post?.text}}</h1>
            <hr>
            <p><strong>{{post?.category}}</strong></p>
            <p><strong>{{post?.author}}</strong></p>
            <button class="btn btn-warning" [routerLink]="['/home']">Volver a listado</button>
        </div>
    </div>
</section>