<form [formGroup]="formPost" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6 offset-0 offset-md-3">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" formControlName="title">
                    @if(checkError('title', 'required')){
                    <small class="text-danger">Title is required</small>
                    }
                </div>

                <div class="mb-3">
                    <label for="categorySelect" class="form-label">Category</label>
                    <select id="categorySelect" class="form-select" formControlName="category">
                        <option selected disabled>Select a category</option>
                        <option value="Beach">Beach</option>
                        <option value="Mountains">Mountains</option>
                        <option value="City">City</option>
                        <option value="Festivals">Festivals</option>
                        <option value="Festivals">Rural</option>
                    </select>
                    @if(checkError('category', 'required')){
                    <small class="text-danger">Category is required</small>
                    }
                </div>

                <div class="mb-3">
                    <label for="preview" class="form-label">Preview</label>
                    <textarea class="form-control" id="preview" rows="5" formControlName="preview"></textarea>
                    @if(checkError('text', 'required')){
                    <small class="text-danger">Preview is required</small>
                    }
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea class="form-control" id="comment" rows="5" formControlName="text"></textarea>
                    @if(checkError('text', 'required')){
                    <small class="text-danger">Comment is required</small>
                    }
                </div>

                <div class="mb-3">
                    <label class="form-label">Image (URL)</label>
                    <input type="text" class="form-control" formControlName="image">
                    @if(checkError('image', 'required')){
                    <small class="text-danger">Image is required</small>
                    }
                    @if(checkError('image', 'pattern')){
                    <small class="text-danger">Provide a correct image URL</small>
                    }
                </div>

                <div class="mb-3">
                    <label class="form-label">Author</label>
                    <input type="text" class="form-control" formControlName="author">
                    @if(checkError('author', 'required')){
                    <small class="text-danger">Author is required</small>
                    }
                </div>


                <div class="mb-3">
                    <label class="form-label">Publication Date</label>
                    <input id="startDate" class="form-control" type="date" formControlName="date" />
                    @if(checkError('date', 'required')){
                    <small class="text-danger">Publication date is required</small>
                    }
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </div>
    </div>
</form>