<section id="hero">

</section>

<!--Selection by category-->
<main>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mt-3">

            <div class="col-md-8">
                <div class="d-flex gap-2 align-items-center">

                    <i class="fa fa-search fs-4"></i>

                    <input (input)="onInput($event)" type="text" class="form-control"
                        placeholder="What would you like to read?">

                    <label class="ms-2 fw-bold">Category</label>
                    <select class="form-select w-auto" (change)="onChange($event)">
                        <option value="">Select</option>
                        @for (category of categories; track $index) {
                        <option [value]="category">{{category}}</option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>

    <!--Posts-->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-4">
            @for (post of arrPosts; track $index) {
            <div class="col">
                <div class="post card h-100" [routerLink]="['/post', post.id]">
                    <figure class="post-image">
                        <img [src]="post.image" alt="Post Image" class="img-fluid">
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{{post.title}}</h2>
                        <hr>
                        <p class="card-text">{{post.preview}}</p>
                        <ul class="list-unstyled">
                            <li><strong>Author:</strong> {{post.author}}</li>
                            <li><strong>Date:</strong> {{post.date | date}}</li>
                            <li><strong>Category:</strong> {{post.category}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</main>