
#hero{
    width: 100%;
        height: calc(95vh - 135px);
        background-image: url('/cat_hero_3.webp');
        background-position: center;
        background-size: cover;
        text-align: left;
        align-content: center;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.post {
    width: 400px;
    height: auto;
    border: 1px solid #fee2c7;
    padding: 5px;
    

    h2 {
        text-align: center;
    }
}

img{
    height: auto;
    width: 370px;
    object-fit: cover;
       
        margin: 0 auto;
        display: block;
}


 .search {
     position: relative;
     box-shadow: 0 0 40px rgba(51, 51, 51, .1);

 }

 .search input {

     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;


 }


 .search input:focus {

     box-shadow: none;
     border: 2px solid blue;


 }

 .search .fa-search {

     position: absolute;
     top: 20px;
     left: 16px;

 }

 .search button {

     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 110px;
     background: blue;

 }

.post-image {
    width: 100%;
    height: 300px;
    /* Set a fixed height for uniformity */
    overflow: hidden;
    /* Ensures no overflow */
    display: flex;
    /* Ensures centering */
    justify-content: center;
    align-items: center;
}

.post-image img {
    width: 100%;
    /* Makes sure the image covers the full width */
    height: 100%;
    /* Ensures it fills the height */
    object-fit: cover;
    /* Ensures the image fills the space without stretching */
    object-position: center;
    /* Keeps the center of the image visible */
}

li{
    margin: 5px 0;
}