<div>
    <label>Category</label>
    <select (change)="onChange($event)">
        <option value="">Select</option>
        @for (category of categories; track $index) {
        <option [value]="category">{{category}}</option>
        }
    </select>
</div>
<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">

            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Have a question? Ask Now">
                <button class="btn btn-primary">Search</button>
            </div>

        </div>

    </div>
</div>



<div class="posts">

    @for (post of arrPosts; track $index) {
    <div class="post" [routerLink]="['/post', post.id]">
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>
        <ul>
            <li>{{post.author}}</li>
            <li>{{post.date}}</li>
            <li>{{post.category}}</li>
        </ul>
        <figure>
            <img [src]="post.image" alt="">
        </figure>
    </div>
    }
</div>